@use "@material/theme"with ($primary: #2196F3,
);
@use "@material/typography"with ($font-family: unquote("Chivo, Roboto, sans-serif"),
  $styles-button: (text-transform: uppercase,
    font-size: 14px,
    font-style: 0.875rem,
    font-weight: bold,
    line-height: 1.75,
    letter-spacing: 0.4px,
  ));

@use "@material/button/styles";

:host {
  display: block;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  position: relative;
}

.mdc-button {
  box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px rgba(0, 0, 0, 0.14), 0px 1px 5px rgba(0, 0, 0, 0.12);
  border-radius: 28px;
  min-width: 212px;
  min-height: 36px;
}

nk-loading {
  margin-top: 5px;
}
