@use "@material/theme"with ($primary: #fff,
);

@use "@material/typography"with ($font-family: unquote("Chivo, Roboto, sans-serif"),
  $styles-subtitle1: (text-transform: uppercase,
    font-size: 14px,
    font-style: 0.875rem,
    font-weight: bold,
    line-height: 1.75,
    letter-spacing: 0.4px,
  ));

@use "@material/list/mdc-list";
@use "@material/menu-surface/mdc-menu-surface";
@use "@material/menu/mdc-menu";
@use "@material/select/styles";

:host {
  display: block;
}

.mdc-select {
  .mdc-select__anchor {
    border-radius: 28px !important;
    box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px rgba(0, 0, 0, 0.14), 0px 1px 5px rgba(0, 0, 0, 0.12);
    background-color: #2196F3 !important;
    min-width: 156px;
    min-height: 36px;
    max-height: 36px;
  }

  .mdc-floating-label,
  .mdc-select__selected-text {
    color: #fff !important;
  }

  .mdc-select__dropdown-icon {
    fill: #fff !important;
  }

  .mdc-deprecated-list-item {
    font-weight: normal;
  }
}

.mdc-select--disabled {
  .mdc-select__anchor {
    background-color: #e0e0e0 !important;
    box-shadow: none !important;
  }

  .mdc-floating-label,
  .mdc-select__selected-text {
    color: rgba(0, 0, 0, 0.38) !important;
  }

  .mdc-select__dropdown-icon {
    fill: rgba(0, 0, 0, 0.38) !important;
  }
}
