:host {
  display: block;

  font-family: Roboto, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: normal;
  line-height: 20px;
  letter-spacing: 0.15px;
  text-align: left;
}

.success {
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.9)), #4caf50;
  border-radius: 4px;
  color: #4caf50;

  position: relative;
  padding: 0.75rem 1.25rem;
  display: flex;
  align-items: center;
}

.content {
  margin-left: 10px;
}

.close {
  margin-left: auto;
  cursor: pointer;
  background-color: transparent;
  border: 0;
}
